body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#content
{
  width: 100%;
}

.page-title
{
  margin-top: 30px;
  margin-bottom: 50px;
}

.main-section
{
  text-align:center;
}

.routine-card
{
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
}

.routine-card-image
{
  align-self: center;
}

.accordion-title
{
  margin-left: 10px;
}

#RESPONSIVE
@media screen and (min-width: 992px) 
{
  .routine-card
  {
    width: 50%;
    margin-top: 30px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .routine-card-image
  {
    width: 500px !important;
  }
}
